.swatch-container
  border 1px solid #ccc
  width: 60px
  padding: 5px
  border-radius: 2px
  cursor: pointer
.swatch
  border-radius: 2px
  height: 10px
.color-popover
  position: absolute
  z-index: 2
.cover
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
.wrapper
  position: inherit
  z-index: 100
