.drop-target
  float: left
  text-align: center
  width: 100%
  border: #ccc dashed 3px
  color: #ccc
  border-radius: 8px
  height: 80px
  margin-bottom: 15px
  display: flex
  justify-content: center
  align-items: center

.drop-target.drag-over
  background-color: #F8F8F8
  color: #595959

.drop-target-title
  padding-right: 10px
  font-size: 16px
  display: inline

.file-name
  padding-right: 15px
  display: inline
  font-size: 18px

.upload-spinner-container
  font-size: 18px

.upload-spinner
  padding-right: 15px
  display: inline

.three-bounce > div
  background-color: #90d9c4 !important
