
.dataset-icon
  margin-right: 15px

.dataset-list-item:hover
  background-color: #fbfbfb
  cursor: pointer

.img-trans
  background-image: url('/img/transparent_bg.png')
  background-repeat: repeat
  background-size: contain
  border: 1px solid black
