.hero
  position:relative
  padding-top: 200px
  padding-bottom: 0
  margin-bottom: 0
  height: 500px
  background-image: linear-gradient(135deg, rgba(0,0,0,.33), rgba(0,0,0,0)), url('/img/bg.jpg')
  background-position: 0, 0, 50%, 50%
  background-size: auto, cover
  text-align: center

.hero-heading
  font-family: serif
  color: #fff !important
  font-size: 50px
  line-height: 51px
  letter-spacing: 2px
  margin-bottom: 20px

.hero-subtitle
  color: rgba(255,255,255,0.8) !important
  font-size: 18px
  letter-spacing: 2px
