.navbar
  position: absolute
  width: auto
  height: auto
  top: 0
  left: 0
  right: 0
  z-index: 1000
  background-color: transparent
  background: linear-gradient(180deg, rgba(0,0,0,.33), rgba(0,0,0,0))
  border: none
  border-radius: 0
  box-shadow: 0 0

.navbar-brand
  font-family: serif
  color: #fff !important
  font-size: 24px

.navbar-nav > li > a
  color: rgba(255,255,255,0.8) !important
  font-size: 16px

.navbar-nav > li > a:hover
  color: #fff !important

.nav-login
  color #fff
  background-color: #7B1FA2
  opacity: 0.8
  margin-top: 12px
  font-size: 16px
  border: 0

.nav-login:hover
  opacity: 1
  background-color: #6A1B9A

.nav-active
  border: rgba(255,255,255,0.8) 1px solid
  margin-top: 10px
  padding: 4px !important
