.post
  margin: 50px
  width: 400px
  height: 200px
  background-position: 50% 50%
  background-size: auto, cover
  box-shadow: rgba(0,0,0,1) 5px 5px 6px

.post-title
  color: rgba(255,255,255,0.8)
  font-size: 20px
  padding: 5px
