
.projectsBar-row-item
  cursor: pointer
  font-size: 18px
  margin-top: 15px
  margin-bottom: 15px
  box-sizing: border-box

.projectsBar-row-item:before
  display:block;
  content: ""
  bottom: 0
  left: 0
  right: 0
  height: 4px

.projectsBar-row-item:hover:before
  height: 2px
  width: 100%
  background: #7B1FA2
